version: '3.9'

services:
    migrations:
        build:
            context: .
            dockerfile: apps/users/Dockerfile
        container_name: migrations
        restart: 'no'
        env_file:
            - .env
        environment:
            DB_HOST: db
            DB_SYNC: 'false'
        command: ['npm', 'run', 'typeorm:run-migrations']
        depends_on:
            db:
                condition: service_healthy
        networks:
            - url-shortener-network

    users:
        build:
            context: .
            dockerfile: apps/users/Dockerfile
        container_name: users
        restart: unless-stopped
        env_file:
            - .env
        environment:
            DB_HOST: db
            USERS_HOST: 0.0.0.0
            ANALYTICS_HOST: analytics
            SHORTLINKS_RESOLVER_HOST: shortlinks-resolver
        depends_on:
            db:
                condition: service_healthy
            migrations:
                condition: service_completed_successfully
        ports:
            - '${USERS_HTTP_PORT}:${USERS_HTTP_PORT}'
        expose:
            - '${USERS_TCP_PORT}'
        networks:
            - url-shortener-network

    shortlinks-resolver:
        build:
            context: .
            dockerfile: apps/shortlinks-resolver/Dockerfile
        container_name: shortlinks-resolver
        restart: unless-stopped
        env_file:
            - .env
        environment:
            DB_HOST: db
            SHORTLINKS_RESOLVER_HOST: 0.0.0.0
            SHORTLINKS_RESOLVER_PUBLIC_BASE_URL: 'http://localhost:${SHORTLINKS_RESOLVER_HTTP_PORT}'
            USERS_HOST: users
            ANALYTICS_HOST: analytics
        depends_on:
            db:
                condition: service_healthy
            migrations:
                condition: service_completed_successfully
        ports:
            - '${SHORTLINKS_RESOLVER_HTTP_PORT}:${SHORTLINKS_RESOLVER_HTTP_PORT}'
        expose:
            - '${SHORTLINKS_RESOLVER_TCP_PORT}'
        networks:
            - url-shortener-network

    analytics:
        build:
            context: .
            dockerfile: apps/analytics/Dockerfile
        container_name: analytics
        restart: unless-stopped
        env_file:
            - .env
        environment:
            DB_HOST: db
            ANALYTICS_HOST: 0.0.0.0
            USERS_HOST: users
            SHORTLINKS_RESOLVER_HOST: shortlinks-resolver
        depends_on:
            db:
                condition: service_healthy
            migrations:
                condition: service_completed_successfully
        ports:
            - '${ANALYTICS_HTTP_PORT}:${ANALYTICS_HTTP_PORT}'
        expose:
            - '${ANALYTICS_TCP_PORT}'
        volumes:
            - ./:/usr/src/app
        networks:
            - url-shortener-network

    db:
        image: postgres:16
        container_name: url-shortener-db
        restart: unless-stopped
        env_file:
            - .env
        environment:
            DB_HOST: db
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - '${DB_PORT}:5432'
        expose:
            - '5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U root -d url_shortener']
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - url-shortener-network

volumes:
    node_modules:
    postgres_data:

networks:
    url-shortener-network:
        driver: bridge
