version: '3.9'

services:
    users:
        build:
            context: .
            dockerfile: apps/users/Dockerfile
        container_name: users
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - '${USERS_HTTP_PORT}:${USERS_HTTP_PORT}'
        expose:
            - '${USERS_TCP_PORT}'
        networks:
            - url-shortener-network

    shortlinks-resolver:
        build:
            context: .
            dockerfile: apps/shortlinks-resolver/Dockerfile
        container_name: shortlinks-resolver
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - '${SHORTLINKS_RESOLVER_HTTP_PORT}:${SHORTLINKS_RESOLVER_HTTP_PORT}'
        expose:
            - '${SHORTLINKS_RESOLVER_TCP_PORT}'
        networks:
            - url-shortener-network

    analytics:
        build:
            context: .
            dockerfile: apps/analytics/Dockerfile
        container_name: analytics
        restart: unless-stopped
        env_file:
            - .env
        ports:
            - '${ANALYTICS_HTTP_PORT}:${ANALYTICS_HTTP_PORT}'
        expose:
            - '${ANALYTICS_TCP_PORT}'
        volumes:
            - ./:/usr/src/app
        networks:
            - url-shortener-network

    db:
        image: postgres:16
        container_name: url-shortener-db
        restart: unless-stopped
        env_file:
            - .env
        environment:
            POSTGRES_USER: ${DB_USER}
            POSTGRES_PASSWORD: ${DB_PASSWORD}
            POSTGRES_DB: ${DB_NAME}
        ports:
            - '${DB_PORT}:5432'
        expose:
            - '5432'
        volumes:
            - postgres_data:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U root -d url_shortener']
            interval: 10s
            timeout: 5s
            retries: 5
        networks:
            - url-shortener-network

volumes:
    node_modules:
    postgres_data:

networks:
    url-shortener-network:
        driver: bridge
